<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.integration.datasource.catalog.DatasourceMapper">
    <resultMap id="Catalog" type="com.ruoyi.integration.datasource.catalog.DatasourceRow">
        <constructor>
            <idArg column="datasource_key" javaType="java.lang.String" />
            <arg column="datasource_name" javaType="java.lang.String" />
            <arg column="enabled" javaType="_boolean" />
            <arg column="active_revision_id" javaType="java.lang.String" />
            <arg column="draft_revision_id" javaType="java.lang.String" />
            <arg column="row_version" javaType="_long" />
        </constructor>
    </resultMap>
    <resultMap id="Revision" type="com.ruoyi.integration.datasource.catalog.DatasourceRevision">
        <constructor>
            <idArg column="revision_id" javaType="java.lang.String" />
            <arg column="datasource_key" javaType="java.lang.String" />
            <arg column="config_json" javaType="java.lang.String" />
            <arg column="secret_id" javaType="java.lang.String" />
            <arg column="checksum" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <select id="findCatalog" resultMap="Catalog">
        SELECT datasource_key, datasource_name, enabled, active_revision_id, draft_revision_id, row_version
        FROM int_datasource_config WHERE datasource_key = #{datasourceKey}
    </select>
    <select id="findRevision" resultMap="Revision">
        SELECT revision_id, datasource_key, config_json, secret_id, checksum
        FROM int_datasource_revision WHERE revision_id = #{revisionId}
    </select>
    <insert id="insertCatalog">
        INSERT INTO int_datasource_config (datasource_key, datasource_name, enabled, active_revision_id, draft_revision_id, row_version)
        VALUES (#{datasourceKey}, #{datasourceName}, #{enabled}, #{activeRevisionId}, #{draftRevisionId}, #{rowVersion})
    </insert>
    <insert id="insertRevision">
        INSERT INTO int_datasource_revision (revision_id, datasource_key, config_json, secret_id, checksum, create_time)
        VALUES (#{revisionId}, #{datasourceKey}, #{configJson}, #{secretId}, #{checksum}, NOW())
    </insert>
    <update id="updateDraftPointer">
        UPDATE int_datasource_config
        SET draft_revision_id = #{draftRevisionId}, row_version = row_version + 1
        WHERE datasource_key = #{datasourceKey} AND row_version = #{expectedRowVersion}
    </update>
</mapper>
