<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.integration.client.u8.config.U8GatewayMapper">
    <resultMap id="Connection" type="com.ruoyi.integration.client.u8.config.U8GatewayConnection"><constructor>
        <idArg column="connection_key" javaType="java.lang.String"/><arg column="connection_name" javaType="java.lang.String"/>
        <arg column="enabled" javaType="_boolean"/><arg column="active_revision_id" javaType="java.lang.String"/>
        <arg column="draft_revision_id" javaType="java.lang.String"/><arg column="row_version" javaType="_long"/>
    </constructor></resultMap>
    <resultMap id="Revision" type="com.ruoyi.integration.client.u8.config.U8GatewayRevision"><constructor>
        <idArg column="revision_id" javaType="java.lang.String"/><arg column="connection_key" javaType="java.lang.String"/>
        <arg column="environment" javaType="java.lang.String"/><arg column="base_url" javaType="java.lang.String"/>
        <arg column="token_path" javaType="java.lang.String"/><arg column="trade_id_path" javaType="java.lang.String"/>
        <arg column="token_pointer" javaType="java.lang.String"/><arg column="trade_id_pointer" javaType="java.lang.String"/>
        <arg column="token_parameter_name" javaType="java.lang.String"/><arg column="trade_id_parameter_name" javaType="java.lang.String"/>
        <arg column="token_cache_seconds" javaType="_int"/><arg column="connect_timeout_ms" javaType="_int"/>
        <arg column="read_timeout_ms" javaType="_int"/><arg column="account_parameter_names_json" javaType="java.lang.String"/>
        <arg column="operation_registry_json" javaType="java.lang.String"/>
        <arg column="secret_id" javaType="java.lang.String"/><arg column="checksum" javaType="java.lang.String"/>
    </constructor></resultMap>
    <resultMap id="Secret" type="com.ruoyi.integration.client.u8.config.U8GatewaySecret"><constructor>
        <idArg column="secret_id" javaType="java.lang.String"/><arg column="key_id" javaType="java.lang.String"/>
        <arg column="nonce" javaType="[B" jdbcType="BINARY"/><arg column="ciphertext" javaType="[B" jdbcType="BLOB"/>
        <arg column="owner_key" javaType="java.lang.String"/><arg column="owner_revision" javaType="java.lang.String"/>
    </constructor></resultMap>
    <select id="findConnection" resultMap="Connection">SELECT connection_key, connection_name, enabled, active_revision_id, draft_revision_id, row_version FROM int_u8_gateway_connection WHERE connection_key = #{connectionKey}</select>
    <select id="listConnections" resultMap="Connection">SELECT connection_key, connection_name, enabled, active_revision_id, draft_revision_id, row_version FROM int_u8_gateway_connection ORDER BY connection_key ASC</select>
    <select id="findRevision" resultMap="Revision">SELECT revision_id, connection_key, environment, base_url, token_path, trade_id_path, token_pointer, trade_id_pointer, token_parameter_name, trade_id_parameter_name, token_cache_seconds, connect_timeout_ms, read_timeout_ms, account_parameter_names_json, operation_registry_json, secret_id, checksum FROM int_u8_gateway_revision WHERE revision_id = #{revisionId}</select>
    <select id="findSecret" resultMap="Secret">SELECT secret_id, key_id, nonce, ciphertext, owner_key, owner_revision FROM int_u8_gateway_secret WHERE secret_id = #{secretId}</select>
    <select id="findLastTest" resultType="java.lang.String">SELECT last_test_json FROM int_u8_gateway_revision WHERE revision_id = #{revisionId}</select>
    <insert id="insertConnection">INSERT INTO int_u8_gateway_connection (connection_key, connection_name, enabled, active_revision_id, draft_revision_id, row_version) VALUES (#{connectionKey}, #{connectionName}, #{enabled}, #{activeRevisionId}, #{draftRevisionId}, #{rowVersion})</insert>
    <insert id="insertRevision">INSERT INTO int_u8_gateway_revision (revision_id, connection_key, environment, base_url, token_path, trade_id_path, token_pointer, trade_id_pointer, token_parameter_name, trade_id_parameter_name, token_cache_seconds, connect_timeout_ms, read_timeout_ms, account_parameter_names_json, operation_registry_json, secret_id, checksum, create_time) VALUES (#{revisionId}, #{connectionKey}, #{environment}, #{baseUrl}, #{tokenPath}, #{tradeIdPath}, #{tokenPointer}, #{tradeIdPointer}, #{tokenParameterName}, #{tradeIdParameterName}, #{tokenCacheSeconds}, #{connectTimeoutMillis}, #{readTimeoutMillis}, #{accountParameterNamesJson}, #{operationRegistryJson}, #{secretId}, #{checksum}, NOW())</insert>
    <insert id="insertSecret">INSERT INTO int_u8_gateway_secret (secret_id, key_id, nonce, ciphertext, owner_key, owner_revision, create_time) VALUES (#{secretId}, #{keyId}, #{nonce}, #{ciphertext}, #{ownerKey}, #{ownerRevision}, NOW())</insert>
    <update id="updateLastTest">UPDATE int_u8_gateway_revision SET last_test_json = #{lastTestJson} WHERE revision_id = #{revisionId}</update>
    <update id="updateDraftPointer">UPDATE int_u8_gateway_connection SET draft_revision_id = #{draftRevisionId}, row_version = row_version + 1 WHERE connection_key = #{connectionKey} AND row_version = #{expectedRowVersion}</update>
    <update id="activatePointer">UPDATE int_u8_gateway_connection SET active_revision_id = #{activeRevisionId}, draft_revision_id = NULL, enabled = 1, row_version = row_version + 1 WHERE connection_key = #{connectionKey}<choose><when test="expectedActiveId == null or expectedActiveId == ''"> AND active_revision_id IS NULL</when><otherwise> AND active_revision_id = #{expectedActiveId}</otherwise></choose></update>
    <update id="disable">UPDATE int_u8_gateway_connection SET enabled = 0, row_version = row_version + 1 WHERE connection_key = #{connectionKey}</update>
</mapper>
